<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.langexpo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.DisplayLevelQuestions"></activity>
        <activity android:name=".activity.UserLevelList" />
        <activity android:name=".activity.UserLectureList" />
        <activity android:name=".activity.DisplayLecture" />
        <activity android:name=".activity.ResetPassword" />
        <activity android:name=".activity.FavoriteList" />
        <activity android:name=".activity.Dictionary" />
        <activity android:name=".activity.ContactUs" />
        <activity android:name=".activity.Feedback" />
        <activity android:name=".activity.CreateProfile" />
        <activity android:name=".admin.activity.QuizList" />
        <activity android:name=".admin.activity.GoalList" />
        <activity android:name=".admin.activity.LectureList" />
        <activity android:name=".admin.activity.QuestionList" />
        <activity android:name=".admin.activity.AddQuiz" />
        <activity android:name=".admin.activity.AddGoal" />
        <activity android:name=".admin.activity.AddLecture" />
        <activity android:name=".admin.activity.AddQuestion" />
        <activity android:name=".admin.activity.AddQuestionType" />
        <activity android:name=".admin.activity.AddLevel" />
        <activity android:name=".admin.activity.QuestionTypeList" />
        <activity android:name=".admin.activity.LevelList" />
        <activity android:name=".admin.activity.LanguageList" />
        <activity android:name=".admin.activity.AddLanguage" />
        <activity android:name=".com.langexpo.navigationdrawer.NavigationDrawer" />
        <activity android:name=".utility.Image" />
        <activity android:name=".utility.ImagePickerActivity" />
        <activity
            android:name=".admin.activity.Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ForgotPassword" />
        <activity android:name=".activity.Levels" />
        <activity android:name=".activity.DailyGoal" />
        <activity android:name=".activity.SelectLaunguage" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" /> <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>